@import url("~lucide-static/font/Lucide.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

body {
  background: white;
  font-size: 16px;
  min-height: 100vh;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
}

header {
  color: white;
  background-color: #2d2b2b;
  padding: 1rem;
  font-weight: 700;
}

main {
  background-color: rgba(169, 168, 168, 0.226);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.card-div {
  margin-top: 1rem;
  border-radius: 5.625rem;
  background: #fff;
  width: 50%;
  overflow: hidden; /* Contains the gradient background */
  position: relative; /* For absolute positioning context */
}

.profile-image {
  border-radius: 5.3125rem 5.3125rem 0 0;
  background: linear-gradient(180deg, #e51d60 0%, #804257 108.61%);
  width: 100%;
  height: 21vh;
  position: relative;
}

.image-div {
  height: calc(200px - 15vh);
}

.profile-pic {
  position: relative;
  top: -15vh;
  left: 50%;
  transform: translateX(-50%);
}
.intro {
  text-align: center;
}

.time {
  display: flex;
}
.time > * {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.7rem;
}

.intro-name,
.intro-role {
  color: #1e1d1d;
  font-weight: 600;
  text-align: center;
  margin: 0.75rem 0;
}
.intro-name {
  font-size: 3rem;
}
.intro-role {
  font-size: 1.6875rem;
}

hr {
  background: #804257;
  width: 50%;
  text-align: center;
  height: 0.3rem;
  margin: 0 auto;
}

.links {
  margin: 0 auto;
}
.contact-links > *:hover {
  color: #e51d60;
}
.contact-links > *:active {
  color: #e51d60;
}

.links .text {
  font-weight: 500;
}

.contact-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.links,
.bio {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}
.bio {
  margin-top: 1rem;
}

.bio p {
  text-wrap: balance;
}

@media (max-width: 1024px) {
  .profile-pic {
    width: 200px;
    height: 200px;
  }
  .card-div {
    width: 70%;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .image-div {
    height: calc(150px - 15vh);
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }
  .card-div {
    width: 80%;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
  .intro-name {
    font-size: 1.5rem;
  }
  .intro-role {
    font-size: 0.7rem;
  }
  .links,
  .bio {
    font-size: 0.7rem;
  }

  .card-div {
    border-radius: 2.625rem;
  }
  .profile-image {
    border-radius: 2.625rem 2.625rem 0 0;
  }
}

@media (max-width: 425px) {
  .links,
  .bio {
    font-size: 0.5rem;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 10px;
  }
  .intro-name {
    font-size: 1rem;
  }
  .intro-role {
    font-size: 0.5rem;
  }
  .links,
  .bio {
    font-size: 0.5rem;
  }
}
